/*********************** background_image_with_content  *********************/
.background_image_with_content {
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #0c3761;
    background-blend-mode: multiply;
    text-align: center;
    &.title-white{
        .title-heading{
            margin-bottom: 50px;           
            color: #fff;
            h3{
                font-size: 28px;
                font-weight: 500;
                color: #fff;
            }
        }
    }
}
/*********************** End background_image_with_content  *********************/