// Footer Content
.footer {
    z-index: 0;
    color: #fff;
    background-color: #0c3761;
    @include rem-fallback(padding-top, 50);
    @include rem-fallback(padding-bottom, 20);
    @include rem-fallback(margin-top, -80);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    a {
        text-decoration: none;
        color: #fff;
    }
    @include bp(xl-max) {
        position: relative;
        z-index: 1;
    }
}

.footer-logo {
    @include rem-fallback(margin-bottom, 20);
    @include rem-fallback(margin-right, 70);
    position: relative;
    @include bp(md-max) {
        margin-right: 0;
        @include rem-fallback(margin-bottom, 15);
        width: 100%;
        text-align: center;
    }
    img {
        @include rem-fallback(width, 200);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        @include rem-fallback(width, 3);
        background-color: white;
        @include rem-fallback(right, -38);

        @include bp(md-max) {
            display: none;
        }
    }
}
.footer-links {
    @include rem-fallback(font-size, 15);
    li {
        display: inline-block;
        vertical-align: middle;
        @include rem-fallback(margin-left, 10);
        @include rem-fallback(padding-right, 12);
        position: relative;
        &:after {
            content: "|";
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
.footer-contents {
    @include bp(md-max) {
        flex-wrap: wrap;
        text-align: center;
    }
}
// End Footer Content
