// Footer Content
.footer {
    z-index: 0;
    color: #fff;
    background-color: #0c3761;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top:-80px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    a {
        text-decoration: none;
        color: #fff;
    }
    @include bp(xl-max) {
        position: relative;
        z-index: 1;
    }
}

.footer-logo {
  
   margin-right: 70px;
    position: relative;
    @include bp(md-max) {
        margin-right: 0;
       margin-bottom: 15px;
        width: 100%;
        text-align: center;
    }
    img {
        width:290px;
    }
    // &::after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     width: 3px;
    //     background-color: white;
    //     right: -38px;

    //     @include bp(md-max) {
    //         display: none;
    //     }
    // }
}
.footer-links {
    font-size:15px;
    &#menu-footer-links{
        margin-left: 17px;
    }
    li {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        padding-right: 12px;
        position: relative;
        &:after {
            content: "|";
            position: absolute;
            left: -13px;
            top: 0;
        }
    }
}
.footer-contents {
    @include bp(md-max) {
        flex-wrap: wrap;
        text-align: center;
    }
}
// End Footer Content
