.capabilitie-section{
    .icon-box-list{
        width: 1200px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        & > div{
            width: 45% !important;         
            .icon-box{
                background-color: #fff;
                border-radius: 10px;
                 box-shadow: 0 3px 20px rgb(0 0 0 / 8%);
                 .icon-box-title-content{
                    padding: 15px;
                    padding-bottom: 0;
                 }
                 .description{
                    padding: 15px;
                 }
            }
        }
    }
}