//*********************** testimonial-section *********************************
.testimonial-section,
.light-bg {
    background-color: #fafafa !important;
}

.testimonial-section {
    background-color: #0F3764 !important;
    .title-heading{
        h2{
            color: #fff;
        }
    }
    .testimonial {
        width: 1090px;
        margin-top: 40px;
        max-width: 100%;
        margin: auto;
        @include bp(md-max) {
            width: 100%;
        }
    }
    .testimonial-content {
        align-items: center;
        padding-bottom: 100px;
        @include bp(md-max) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .client-details {
            // min-width: 530px;
            // height: 530px;
            // min-height: 530px;
            // max-width: 100%;
            // box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
            // border-radius: 50%;
            // margin-left: 5px;
            // margin-bottom: 10px;
            // margin-top: 5px;
            // display: flex;
            // align-items: center;
            // justify-content: center;

            @include bp(md-max) {
            min-width: 300px;
            height: 300px;
            width: 300px;
            min-height: 300px;
            padding: 25px;
            margin-bottom: 15px;              
            }
            img {
               width: 300px;
            }
        }
        .short-decoration {           
            padding-left: 100px;
            background-color: #fff;
            padding: 30px 50px;
            border-radius: 15px;
            color: #0F3764;
            width: 730px;
            margin: auto;
            box-shadow: 0px 51px 0px -23px rgb(156 204 204 / 77%), 0px 109px 0px -56px rgb(156 204 204 / 48%);
            position: relative;
            @include bp(md-max) {
                padding-left: 0;
                text-align: center;
            }
            .p1 {
                font-weight: 600;
                margin-bottom: 2px;
            }
            p {
                margin-top: 15px;
                position: relative;
                color: #0F3764;
                @include bp(md-max) {
                   margin-top: 10px;
                   padding-left: 40px;
                }
                
            }
            &::before {
                content: "";
                background-image: url(../../images/left-quotes-sign.png);
                position: absolute;
                top: -19px;
                width: 50px;
                height: 50px;
                background-size: cover;
                background-repeat: no-repeat;
                right: 18px;
                transform: rotate(180deg);
                @include bp(md-max) {                  
                    left: 0;
                }               
            }
        }
    }
   
    .owl-nav {
        display: inline-block;
        background-color: #8ebf69;
        padding: 15px 30px;
        border-radius: 44px;
        bottom: 0px;
        position: absolute;
        // left: calc(50% - 174px);
        @include bp(md-max) {
         position: relative;
        bottom: 0px;
        left: calc(50% - 83px);
        }
        button {
                margin:0px 5px;
            img {
                
                width: 43px;
                opacity: 1;
                margin-right: 0;
                transition: 0.3s all linear;
            }
        }
        .owl-prev {
            &.disabled {
                img {
                width: 22px;
                margin-right: 21px;
                     opacity: 0.47;
                }
            }
        }
        .owl-next {
            &.disabled {
                width: 22px;
                margin-right: 21px;
                opacity: 0.47;
            }
            img {
                transform: rotate(180deg);
                width: 43px;
                opacity: 1;
                margin-left: 0;
            }
        }
    }
}

// ************************End testimonial-section*************************


