//*********************** testimonial-section *********************************
.testimonial-section,
.light-bg {
    background-color: #fafafa !important;
}

.testimonial-section {
    .testimonial {
        width: 1090px;
        margin-top: 40px;
        max-width: 100%;
        margin: auto;
        @include bp(md-max) {
            width: 100%;
        }
    }
    .testimonial-content {
        align-items: center;
        @include bp(md-max) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .client-details {
            min-width: 530px;
            height: 530px;
            min-height: 530px;
            max-width: 100%;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.16);
            border-radius: 50%;
            margin-left: 5px;
            margin-bottom: 10px;
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include bp(md-max) {
            min-width: 300px;
            height: 300px;
            width: 300px;
            min-height: 300px;
            padding: 25px;
            margin-bottom: 15px;              
            }
            img {
               width: 300px;
            }
        }
        .short-decoration {           
            padding-left: 100px;
            @include bp(md-max) {
                padding-left: 0;
                text-align: center;
            }
            .p1 {
                font-weight: 600;
                margin-bottom: 2px;
            }
            p {
                margin-top: 45px;
                position: relative;
                @include bp(md-max) {
                   margin-top: 10px;
                   padding-left: 40px;
                }
                &::before {
                    content: "";
                    background-image: url("images/quote.png");
                    position: absolute;
                    top: 0;
                    width: 33px;
                    height: 33px;
                    background-repeat: no-repeat;
                    left: -45px;
                    @include bp(md-max) {                  
                        left: 0;
                    }
                   
                }
            }
        }
    }
   
    .owl-nav {
        display: inline-block;
        background-color: #8ebf69;
        padding: 15px 30px;
        border-radius: 44px;
        bottom: 50px;
        position: absolute;
        left: calc(50% - 174px);
        @include bp(md-max) {
         position: relative;
        bottom: 0px;
        left: calc(50% - 83px);
        }
        button {
                margin:0px 5px;
            img {
                
                width: 43px;
                opacity: 1;
                margin-right: 0;
                transition: 0.3s all linear;
            }
        }
        .owl-prev {
            &.disabled {
                img {
                width: 22px;
                margin-right: 21px;
                     opacity: 0.47;
                }
            }
        }
        .owl-next {
            &.disabled {
                width: 22px;
                margin-right: 21px;
                opacity: 0.47;
            }
            img {
                transform: rotate(180deg);
                width: 43px;
                opacity: 1;
                margin-left: 0;
            }
        }
    }
}

// ************************End testimonial-section*************************


